h1 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:darkcyan;
}

tr {
    border-radius: 5px;
}
table, tr, td {
    border: 1px dotted black;
    background-color: burlywood;
    text-align: center;
    margin-left:auto;margin-right:auto
}
body{
    position:relative;
    background-color: lightblue;  

}
video { 
    position:absolute
    height: 550px;
    width: 600px;
}
.box {
   position: relative;
    width: 600px;
    height: 400px;
    /* background-color: brown; */
    margin: auto;
}
.copyright {
    height: 200px;
    width: 50%;
  background-color: powderblue;
}